<main class=" min-h-full w-full">
    <section class="h-fit w-fit bg-blue-500/70 border-white border-4 rounded-md p-6">
        <h1 class="text-white">Register</h1>
        <form action="/register_request" method="post" class="text-white">
            <label for="nn">Nickname</label>
            <input type="text" name="nickname" id="nn" class="border border-black text-black">
            <br>

            <label for="em">Email</label>
            <input type="email" name="email" id="em" class="border border-black text-black">
            <br>

            <label for="pw">Password</label>
            <input type="password" name="passwd" id="pw" class="border border-black text-black">

            <br>
            <button type="submit" class="border-2 border-white p-1 rounded-md">Register</button>
        </form>
            <p id="status"></p>
    </section>
            

    <!-- Something's off -->
    <script>
        const HTML_Snippet = {{register_status | default(None) | tojson}};
        let paragraph = document.getElementById("status");

        if (HTML_Snippet == true) {
            paragraph.innerHTML("Registered successfully");
            paragraph.style.color("green");
        }else if (HTML_Snippet == false) {
            paragraph.innerHTML("Register failed");
            paragraph.style.color("red");
        }
    </script>
</main>