* {
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
}

body{
    background-color: #10172b;
    color: black;
    text-decoration: none;
    margin: 0;
    align-content: center;
}

a {
    text-decoration: none;
    color: white;   
}

main {
    color:white;
}

input{
    color: black;
}