<header class="h-20 w-full bg-blue-400/70 font-bold pt-6">
  <div class="inline-block">
    <!-- <img src="/images/LostyGuyBusiness.ico" alt="Logo" width="50" height="50"> -->
    <h3 class="pr-20 pl-10 font-medium">CodeHarbor</h3>
  </div>
  <div class="float-right space-x-3 pr-6">
        {%include Status_Snippet%}
      <div class="float-right">
        <form action="/search_request" method="get">
          <input class="border-2 rounded-l" type="search" name="Search_Prompt" id="S_P" placeholder="Search" />
        </form>
      </div>
  </div>
</header>