/* header */
header {
    background-color: rgba(23, 100, 100, 0.349);
    padding: 25px;
    word-spacing: 10px;
    font-family: 'Segoe UI';
}

#left > * {
    float: left;
}

#left > h3 {
    padding-left: 15px;
    padding-right: 30px;
    margin: auto;
    font-size: 25px;
}

#left > img {
    clear: both;
}

#right {
    margin: auto;
}

#right > a {
    font-size: 19px;
}

#search {

    float: right;
}

#search > form > input {
    font-size: 17px;
    text-decoration: none;
    border: 1px black solid;
    border-radius: 10px;
}